@using ConnectingPeople.Common
@using ConnectingPeople.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                </li>
            }
            <a class="nav-link text-dark fas fa-th-list fa-2x" asp-area="" asp-controller="Help" asp-action="StartedTasks"></a>
            <a class="nav-link text-dark fas fa-comment-medical fa-2x" asp-area="" asp-controller="Chat" asp-action="All"></a>
            <a class="nav-link text-dark fas fa-user fa-2x" asp-area="" asp-controller="Profile" asp-action=""></a>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                    <button type="submit" class="nav-link btn btn-link text-dark fas fa-sign-out-alt fa-2x"></button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Вход</a>
            </li>
        }
    </ul>
